body {
  font-family: 'Libre Baskerville', serif;
  color: white;
  margin: 0px;
  background-image: linear-gradient(red,orange,yellow,green,blue,indigo,violet);
}

main {

  height: 100vh;
  width: inherit;
}

h1 {
  display: inline-flex;
  justify-content: center;
  margin-top: 6vh;
  width: 100%;
  position: absolute;
  font-size: 40px;
}

.instructions-button {
  display: block;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #CC0000;
  height: 5vh;
  width: 9vw;
  font-size: 17px;
  color: white;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60%;
  width: 100%;
  margin-top: 10vh;
}

.deck, .back-card, .face-card {
  height: 315px;
  width: 200px;
}

#player-1 {
  box-shadow: 6px 6px 9px 1px #E74C93,
              -6px -6px 9px 1px #E74C93;
}
#player-2 {
  box-shadow: 6px 6px 9px 1px #2ECC71,
              -6px -6px 9px 1px #2ECC71;
}

.stack-1 {
  box-shadow: 6px 6px 9px 1px #E74C93,
              -6px -6px 9px 1px #E74C93;
}

.stack-2 {
  box-shadow: 6px 6px 9px 1px #2ECC71,
              -6px -6px 9px 1px #2ECC71;
}

.back-card {

}

.number-wins, .card-counter {
  display: flex;
  justify-content: space-between;
}

.player-1-win-num{
  margin-left: 14%;
  font-size: 23px;
}

.player-2-win-num {
  margin-right: 14%;
  font-size: 23px;
}

.player-1-card-count, .player-2-card-count {
  margin-top: -5vh;
  margin-bottom: 1vh;
 font-size: 43px;
}

.player-1-card-count {
  margin-left: 15%;
}

.player-2-card-count{
  margin-right: 15%;
}

.visibility-hidden {
  visibility : hidden;
}

.hidden {
  display: none;
}
