body {
  font-family: 'Libre Baskerville', serif;
  margin: 0px;
}

main {
  background-color: #641E16;
  height: 100vh;
  width: inherit;
}

h1 {
  display: inline-flex;
  justify-content: center;
  margin-top: 4vh;
  width: 100%;

}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60%;
  width: 100%;
}

/* set min height and width */
.deck, .back-card, .face-card {
  height: 300px;
  width: 170px;
  background-color: #0B5345
}

.back-card {

}

.number-wins {
  display: flex;
  justify-content: space-between;
}

.player-1-win-num {
  margin-left: 14%;
}

.player-2-win-num {
  margin-right: 14%;
}
