body {
  font-family: 'Libre Baskerville', serif;
  color: white;
  margin: 0px;
  background-image: linear-gradient(red,orange,yellow,green,blue,indigo,violet);
}

main {

  height: 100vh;
  width: inherit;
}

h1 {
  display: inline-flex;
  justify-content: center;
  margin-top: -3vh;
  width: 100%;
  position: absolute;

}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60%;
  width: 100%;
  margin-top: 10vh;
}

/* set min height and width */
.deck, .back-card, .face-card {
  height: 300px;
  width: 170px;
}

#player-1 {
  box-shadow: 6px 6px 9px 1px #E74C93,
              -6px -6px 9px 1px #E74C93;
}
#player-2 {
  box-shadow: 6px 6px 9px 1px #2ECC71,
              -6px -6px 9px 1px #2ECC71;
}

.stack-1 {
  box-shadow: 6px 6px 9px 1px #E74C93,
              -6px -6px 9px 1px #E74C93;
}

.stack-2 {
  box-shadow: 6px 6px 9px 1px #2ECC71,
              -6px -6px 9px 1px #2ECC71;
}

.back-card {

}

.number-wins {
  display: flex;
  justify-content: space-between;
}

.player-1-win-num {
  margin-left: 14%;
}

.player-2-win-num {
  margin-right: 14%;
}
